 <head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
  </head>

  <nav class="mb-4 navbar navbar-expand-lg navbar-dark dark-grey">
    <a routerLink="/"><img src="../assets/BVG_Logo_Website.JPG" style="height: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSuapportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meine-liste"> Meine Liste </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formular"> Prüfungs-Formular </a>
        </li>
        <li *ngIf="isLogin" class="nav-item active">
          <a class="nav-link" [routerLink] = "[]" routerLinkActive = "active" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profil </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="login">Login</a>
          </div>
        </li>
      </ul>
      <span *ngIf="isLogin" class="navbar-text d-flex justify-content-end" style="color: white;">
          {{ personalNr }}
      </span>
    </div>
  </nav>


  <router-outlet></router-outlet>


