<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <style>
    .map-container{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  </style>
</head>

<nav>
  <div class="dropdown" >
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" >noch nicht kontrollierte Fahrer</a>
      <a class="dropdown-item" >Fahrer in der nähe</a>
    </div>
  </div>
</nav>

<body>
  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
   <!-- <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" frameborder="0"
            style="border:0" allowfullscreen></iframe>-->
    <iframe style='width:900px;height:600px;' src='https://www.openstreetmap.org/export/embed.html?bbox=13.3964,52.5147,13.4185,52.5251&amp;marker=52.52,13.408&amp;layer=mapnik'></iframe><br>
    <small><a href='https://www.openstreetmap.org/?lon=13.408&amp;lat=52.52&amp;mlon=13.408&amp;mlat=52.52&amp;zoom=16&amp;layers=M'>Größere Karte anzeigen</a></small>
  </div>
</body>



