<h1 style="padding: 29px;
  text-align: center;
  background: #f5e303;
  color: black;
  font-size: 38px;
  font-weight: unset;
  font-style: revert;
  font-family: sans-serif;
">Protokoll der Fahrpersonalüberprüfung</h1>
<p></p>

<form class="form-check">
  <div class="form-row">
  <div class="form-group col-md-7">
    <label style="font-weight: bold" for="betriebsbereich">Betriebsbereich/Fa: </label>
    <select class="form-control" id="betriebsbereich">
      <option selected>Britz</option>
      <option value="1">Lichtenberg</option>
      <option value="2">Müllerstraße</option>
      <option value="3">Spandau</option>
    </select>
  </div>
    <div class="form-check col-md-4">
      <label style="font-weight: bold" for="datum">Datum: </label>
      <input type="date" class="form-control" id="Datum">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <label style="font-weight: bold" for="fahrer">Fahrer/in:</label>
      <input type="text" class="form-control" class="form-control" id="fahrer" required>
    </div>
  <div class="form-check col-md-4">
    <label style="font-weight: bold" for="danummer">DA-Nr.:</label>
    <input type="text" class="form-control" id="danummer">
  </div>
  </div>
  <div class="form-row">
  <div style="font-weight: bold" class="form-check-inline">Dienstkleidung:</div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="kleidung" id="kleidungja">
      <label class="form-check-label" for="kleidungja">Ja</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-input" type="radio" name="kleidung" id="kleidungnein">
      <label class="form-check-label" for="kleidungja">Nein</label>
    </div>
  <div class="form-check-inline">
    <div class="form-check-inline">&#45;&#45;&#45;&#45;&ndash;&gt; wenn nein,Weste:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="kleidung" id="kleidungwesteja">
      <label class="form-check-label" for="kleidungwesteja">Ja</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="kleidung" id="kleidungwestenein">
      <label class="form-check-label" for="kleidungwestenein">Nein</label>
    </div>
  </div>
  </div>
  <p></p>
  <div class="form-row">
  <div class="form-group col-md-7">
    <label style="font-weight: bold" for="linie">Linie</label>
    <input type="text" class="form-control" id="linie" >
  </div>
  <div class="form-check col-md-4">
    <label style="font-weight: bold" for="wagennr">Wagen-Nr:</label>
    <input type="text" class="form-control" id="wagennr" >
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <label style="font-weight: bold" for="zustieg">Zustieg</label>
      <input type="text" class="form-control" id="zustieg" >
    </div>
    <div class="form-check col-md-4">
      <label style="font-weight: bold" for="zuzeit">Zeit:</label>
      <input type="time" class="form-control" id="zuzeit" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
        <label style="font-weight: bold" for="aussstig">Ausstieg:</label>
        <input type="text" class="form-control" id="aussstig" >
      </div>
        <div class="form-check col-md-4">
          <label style="font-weight: bold" for="auszeit">Zeit:</label>
          <input type="time" class="form-control" id="auszeit" >
        </div>
    </div>
</form>

<form class="form-check-inline" class="table table-striped" >
  <table style="width: 100%">
    <thead style="background-color: #373632; color: white;">
    <tr>
      <th scope="col"></th>
      <th scope="col">Zu überprüfende Kriterien</th>
      <th scope="col">Positiv</th>
      <th scope="col">Negativ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">A</th>
      <td> <b>Kundendienst</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td><div class="form-check-inline">Pünktlichkeit / Einhalung von Fahrzeiten</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="puenklich" id="puenklichja">
          <label class="form-check-label" for="puenklichja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="puenklich" id="puenklichnein">
          <label class="form-check-label" for="puenklichnein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><div class="form-check-inline">Kundenbeachtung, Höflichkeit, Freundlichkeit, Verkauf</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="freundlich" id="freundlichja">
          <label class="form-check-label" for="freundlichja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="freundlich" id="freundlichnein">
          <label class="form-check-label" for="freundlichnein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><div class="form-check-inline">Anschlußwarung und Mitnahme von Fahrwilligen</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="anschluss" id="anschlussja">
          <label class="form-check-label" for="anschlussja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="anschluss" id="anschlussnein">
          <label class="form-check-label" for="anschlussnein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><div class="form-check-inline">Hinweise für Fahrgäste auf Gefahren</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gefahren" id="gefahrenja">
          <label class="form-check-label" for="gefahrenja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="gefahren" id="gefahrennein">
          <label class="form-check-label" for="gefahrennein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><div class="form-check-inline">Heizung, Lüftung, Klima</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="klima" id="klimaja">
          <label class="form-check-label" for="klimaja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="klima" id="klimanein">
          <label class="form-check-label" for="klimanein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><div class="form-check-inline">Haltestllenansage</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ansage" id="ansageja">
          <label class="form-check-label" for="ansageja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ansage" id="ansagenein">
          <label class="form-check-label" for="ansagenein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><div class="form-check-inline">Allgemein</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein1" id="allgemein1ja">
          <label class="form-check-label" for="allgemein1ja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein1" id="allgemein1nein">
          <label class="form-check-label" for="allgemein1nein"></label>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">B</th>
      <td> <b>Hilfsbereitschaft gegenüber Fahrgästen</b></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">8</th>
      <td><div class="form-check-inline">Hilfsbereitschaft (Einstiegshilfen,Türautomatik)</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="hilfe" id="hilfeja">
          <label class="form-check-label" for="hilfeja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="hilfe" id="hilfenein">
          <label class="form-check-label" for="hilfenein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><div class="form-check-inline">Allgemein</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein2" id="allgemein2ja">
          <label class="form-check-label" for="allgemein2ja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein2" id="allgemein2nein">
          <label class="form-check-label" for="allgemein2nein"></label>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">C</th>
      <td> <b>Repräsentant des ÖPNV</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><div class="form-check-inline">Dienstkleidung / Erscheinungsbild</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dkleidung" id="dkleidungja">
          <label class="form-check-label" for="dkleidungja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dkleidung" id="dkleidungnein">
          <label class="form-check-label" for="dkleidungnein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td><div class="form-check-inline">Allgemein</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein3" id="allgemein3ja">
          <label class="form-check-label" for="allgemein3ja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein3" id="allgemein3nein">
          <label class="form-check-label" for="allgemein3nein"></label>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">D</th>
      <td> <b>Fahrzeug</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td><div class="form-check-inline">Sauberkeit des Fahzeuges außen</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sauberaussen" id="sauberaussenja">
          <label class="form-check-label" for="sauberaussenja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sauberaussen" id="sauberaussennein">
          <label class="form-check-label" for="sauberaussennein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td><div class="form-check-inline">Sauberkeit des Fahrzeuges innen</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sauberinnen" id="sauberinnenja">
          <label class="form-check-label" for="sauberinnenja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sauberinnen" id="sauberinnennein">
          <label class="form-check-label" for="sauberinnennein"></label>
        </div>
      </td>
    </tr>

    <tr>
      <th scope="row">E</th>
      <td> <b>Fahrweise,Einhaltung von Vorschriften</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td><div class="form-check-inline">vorrausschauend/ umweltbewußt/ materialschonend</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="vorrausschauend" id="vorrausschauendja">
          <label class="form-check-label" for="vorrausschauendja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="vorrausschauend" id="vorrausschauendnein">
          <label class="form-check-label" for="vorrausschauendnein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td><div class="form-check-inline">Risikovermeidung / sicherheitsbewußt / Lenkradführung</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="risiko" id="risikoja">
          <label class="form-check-label" for="risikoja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="risiko" id="risikonein">
          <label class="form-check-label" for="risikonein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td><div class="form-check-inline">Einhaltung der Straßengesetze, DA., Dano</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="strassengesetze" id="strassengesetzeja">
          <label class="form-check-label" for="strassengesetzeja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="strassengesetze" id="strassengesetzenein">
          <label class="form-check-label" for="strassengesetzenein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td><div class="form-check-inline">Beschleungigung und Abbremsen(z.B. Haltestellenbremse) </div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bremsen" id="bremsenja">
          <label class="form-check-label" for="bremsenja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="bremsen" id="bremsennein">
          <label class="form-check-label" for="bremsennein"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td><div class="form-check-inline">Allgemein</div></td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein4" id="allgemein4ja">
          <label class="form-check-label" for="allgemein4ja"></label>
        </div>
      </td>
      <td>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="allgemein4" id="allgemein4nein">
          <label class="form-check-label" for="allgemein4nein"></label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</form>

<form class="form-check">
  <div class="form-group">
    <label style="font-weight: bold" for="bemerkung"><b>Bemerkungen: </b></label>
    <label for="bemerkung"> Bitte genau festhalten: Was, Wo und Wann (präzise Angaben erforderlich) positiv oder negativ war. Die Bemerkungen sind unter Angabe der auf der Vorderseite bezeichneten Kriterien zu vermerken</label>
    <label for="bemerkung">(z.B.:E24N - Rotlicht LZA Örtlichkeit - Uhrzeit) Nur bei Verwendung nach §3 BO Kraft</label>
    <textarea class="form-control" id="bemerkung" rows="5"></textarea>
  </div>
</form>

<form class="form-check">
  <div class="form-row">
    <div class="col">
      <label style="font-weight: bold" for="pruefer">Überprüfung durchgeführt</label>
      <input type="text" class="form-control" id="pruefer" placeholder="Name">
    </div>
    <div class="col">
      <label style="font-weight: bold" for="danr">DA-NR.</label>
      <input type="text" class="form-control" id="danr" >
    </div>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <button type="absenden" class="btn btn-outline-primary" >Absenden</button>
  </div>
</form>
