<h1 style="padding: 29px;
  text-align: center;
  background: #f5e303;
  color: black;
  font-size: 38px;
  font-weight: unset;
  font-style: revert;
  font-family: sans-serif;"
>Meine Liste</h1>
<p>  </p>

<table class="table table-striped table-hover">
  <caption></caption>
  <thead style="background-color: #373632; color: white;">
  <tr>
    <th></th>
    <th>Bus Nummer</th>
    <th>Start Straße</th>
    <th>Start Straßen Nummer</th>
    <th>Ziel Straße</th>
    <th>Ziel Straßen Nummer</th>
    <th>Buslinie</th>
    <th>Einstiegsstation</th>
    <th>Ausstiegsstation</th>



  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bus of busdaten; let i=index; trackBy: trackByData">
    <td><input type="checkbox"></td>
    <td>{{bus.BusNr}}</td>
    <td>{{bus.Start_str}}</td>
    <td>{{bus.Start_str_nr}}</td>
    <td>{{bus.Ziel_str}}</td>
    <td>{{bus.Ziel_str_nr}}</td>
    <td>{{bus.Buslinie}}</td>
    <td>{{bus.Einsteige_Station}}</td>
    <td>{{bus.Aussteige_Station}}</td>
  </tr>
  </tbody>
</table>
   <!-- <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox">  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox">  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox">  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  <tr>
    <td> <input type="checkbox"> </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
  </tr>


  </tbody>

</table>
-->

 <!-- <script type="text/javascript">
    function Werteliste (querystring) {
      if (querystring == '') return;
      var wertestring = querystring.slice(1);
      var paare = wertestring.split("&");
      let paar, name, wert;
      for (var i = 0; i < paare.length; i++) {
        paar = paare[i].split("=");
        name = paar[0];
        wert = paar[1];
        name = unescape(name).replace("+", " ");
        wert = unescape(wert).replace("+", " ");
        this[name] = wert;
      }
    }
    var liste = new Werteliste(location.search);
  </script>
</head>-->

<!--
<h1>Übergebene Daten</h1>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Feldname</th>
    <td>Eintrag</td>
  </tr>
  <script type="text/javascript">
    for (const eigenschaft in liste) {
      document.write(
        "<tr><td>" + eigenschaft + "</td>" +
        "<td><code>" + liste[eigenschaft] + "</code></td></tr>"
      );
    }
  </script>
</table>&ndash;&gt;
-->

