<div style="margin: 20px; border: red solid 2px; padding: 20px;">
  <div class="ui page grid">
    <div class="computer tablet only row">
      <div class="ui inverted menu navbar">
        <a class="active item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="item" routerLink="/about" routerLinkActive="active">About</a>
        <a class="item" routerLink="/" routerLinkActive="active">Home</a>
      </div>
    </div>

    <div class="row">
      <div class="column padding-reset">
        <div class="ui large message">
          <h1 class="ui huge header">This is liste</h1>
          <p>Das ist die <code>liste</code>-Komponente</p>
          <a href="http://freiheit.f4.htw-berlin.de/projekte" class="ui blue button">Anleitung Projekte &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
