<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<form method="GET" action="busdaten-read.component.html">
<table class="table table-striped table-hover">
  <thead style="background-color: #373632; color: white;">
  <tr>
    <th> </th>
    <th scope="col">Bus Nummer</th>
    <th scope="col">Start Straße</th>
    <th scope="col">Start Straßen Nummer</th>
    <th scope="col">Ziel Straße</th>
    <th scope="col">Ziel Straßen Nummer</th>
    <th scope="col">Buslinie</th>
    <th scope="col">Einstiegsstation</th>
    <th scope="col">Ausstiegsstation</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let bus of busdaten; let i=index; trackBy: trackByData">
    <td> </td>
    <td>{{bus.BusNr}}</td>
    <td>{{bus.Start_str}}</td>
    <td>{{bus.Start_str_nr}}</td>
    <td>{{bus.Ziel_str}}</td>
    <td>{{bus.Ziel_str_nr}}</td>
    <td>{{bus.Buslinie}}</td>
    <td>{{bus.Einsteige_Station}}</td>
    <td>{{bus.Aussteige_Station}}</td>
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter">
      Prüfen
    </button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Erfolgreich hinzugefügt!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Diese Route wurde zu deiner Liste hinzugefügt!
          </div>
          <div class="modal-footer">
            <a href="http://localhost:4200/meine-liste" class="btn btn-secondary"> Zu meiner Liste</a>
          </div>
        </div>
      </div>
    </div>
  </tr>
  </tbody>
</table>
</form>

<!--
<form action="/meine-liste.component.html" method="get" target="_blank">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
-->

<!--
<html>
<head>
  <title>Wertübergabe mittels URL - Sendendes Dokument</title>
</head>
<body>

<form method="GET" action="busdaten-read.component.html">
  <p>Wie heißen Sie?</p>
  <p>
    <label for="vorname">Vorname:</label>
    <input type="text" name="vorname" id="vorname" size="25">
  </p>
  <p>
    <label for="nachname">Nachname:</label>
    <input type="text" name="nachname" id="nachname" size="25">
  </p>
  <p><input type="submit" value="Senden"></p>
</form>

</body>
</html>
-->

